<div class="upload-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Upload New Dataset</mat-card-title>
        </mat-card-header>

        <form [formGroup]="form">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="name" [formControl]="name" class="upload-full-width" required>
                    <mat-error *ngIf="name.invalid">{{name.errors | json}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="description" [formControl]="description" class="upload-full-width"
                        required>
                    <mat-error *ngIf="description.invalid">{{description.errors | json}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <ngx-mat-file-input formControlName="file" placeholder="Choose File"></ngx-mat-file-input>
                </mat-form-field>

            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" (click)=submitDataset()>Upload</button>
        </form>
    </mat-card>
</div>