<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="app-toolbar">
        <h1 class="app-header">sqlite.xyz</h1>
        <span class="app-header-spacer"></span>
        <button *ngIf="isAuthenticated | async" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" position="end" *ngIf="isAuthenticated | async"
            fixedTopGap="56">
            <mat-list>
                <mat-list-item (click)="logout()">
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    <h3 matLine>Logout</h3>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>