<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="username" [formControl]="username" class="example-full-width" required>
                    <mat-error *ngIf="username.invalid">{{username.errors | json}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="password" [formControl]="password" class="example-full-width" required>
                    <mat-error *ngIf="password.invalid">{{password.errors | json}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" (click)=login()>Log in</button>
        </form>
    </mat-card>
</div>