<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Existing Account</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="username" [formControl]="username" class="example-full-width" required>
                    <mat-error *ngIf="username.invalid">{{username.errors | json}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="password"  class="example-full-width" [type]="hidePassword ? 'password' : 'text'"
                        [formControl]="password" required>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password.invalid">{{password.errors | json}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" (click)=login()>Log in</button>
            <button mat-stroked-button color="accent" class="btn-block" (click)=navigateToRegister()>Create New
                Account</button>
        </form>
    </mat-card>
</div>